.trends {
    width:100%;
    
  }
  .trends__search {
    background-color: #000000;
    position: fixed;
    width: 25%;
    right: 6rem;
    padding-bottom: 1.25rem;
   
  }
  .trend__control {
    border: none;
    width: 90%;
    outline: none;
    background: rgb(22, 24, 28);    
    border-radius: 50px;
    color:white;
    padding: 0.93rem 2rem;
  }
  .trend__icon {
    position: absolute;
    top: 0.85rem ;
  
  }
  .search {
    font-size: 1.25rem;
    color: silver;
  }